.header-1 a img {
  width: 12%;
  height: auto;
  margin-top: 5px;
  border-radius: 50%;
}

header {
  display: flex;
  /* border-top: 10px solid rgb(255, 201, 23);*/
  padding-bottom: 10px;
  /* background: rgba(248, 216, 74); */
  background: wheat;
  border-bottom: 3px solid firebrick;
}

.header-1 {
  flex: 1;
  margin: 0 0 0 5vw;
}

.header-a {
  font-family: 'Cinzel', serif;
  font-size: 2rem;
  color: black;
  font-weight: 600;
  vertical-align: bottom;
  margin-left: -20px;
  text-decoration: none;
}

.header-1 a:hover {
  text-decoration: none;
}

.header-2 {
  flex: 1;
  margin: 1.5vw 5vw 0 0;
  text-align: right;
  vertical-align: middle;
}

.head-btn {
  border: 1px solid black;
  margin-left: 15px;
  margin-top: 5px;
  padding: 10px 30px;
  font-size: 15px;
  text-decoration: none;
  border-radius: 2%;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  background: black;
  letter-spacing: 0.1vw;
}


#dashboard {
  background: url("https://newevolutiondesigns.com/images/freebies/black-wallpaper-10.jpg") fixed;
  /* height: 49vw; */
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  height: 49vw;
}

.group {
  border: 7px solid saddlebrown;
  width: 70%;
  margin: 0 auto;
  background: url("https://i.pinimg.com/originals/df/25/11/df2511d6f08f2de0333518f802656278.jpg");
  background-size: cover;
  font-size: 1rem;
}

p,
ul {
  color: white;
  font-family: 'Mukta', sans-serif;
}

p {
  padding: 0% 3%;
}

ul {
  margin-bottom: 1%;
  padding: 0% 5%;
}

/* .list strong{
 
} */

.home-3 {
  display: flex;
  width:80%;
  margin: 0 auto;
  padding: 0 0 1vw;
}

.home-31 {
  flex: 1;
  text-align: center;
  background: palegoldenrod;
  border-radius:5%;
  padding: 10px 20px;
  margin: 10px;
}

.home-311 h3 {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  font-weight: 600;
}

.group button {
  width: 22%;
  display: block;
  /* margin-left: 15%;*/
  margin: 0 auto;
  margin-top:1%;
  padding: 10px;
  border-radius:5%;
  margin-bottom: 1%;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  /* font-family: 'Chicle', cursive; */
  /* font-size: 25px; */
  border:1px solid;
  color: #fff;
  background-color: firebrick;
  border-color: palegoldenrod;
}

.group button:hover {
  background-color: firebrick;
  color: #fff;
  border: 1px solid bisque;
}

.btn-primary:focus {
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: firebrick;
  border-color: palegoldenrod;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 50px;
  color: blanchedalmond;
  margin-top: 1%;
  margin-bottom: 2%;
}

h2 {
  /* font-family: 'Chicle', cursive; */
  font-family: 'Lato', sans-serif;
  font-size:25px;
  word-spacing: 3px;
  /* font-size: 30px; */
  text-transform: capitalize;
  color: white;
  padding-top: 5%;
  padding-left: 15%;
}

#logout {
  /* position: absolute;
    right: 4%;
    top: 6%; */
  margin-left: 88%;
  width: 12%;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background: rgba(255, 203, 61); */
  background: wheat;
  border-top: 2px solid firebrick;
}

.footer-1 {
  margin: 0 10vw;
  padding: 5px 0;
}

.footer-1 p {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  color: black;
  font-size: 15px;
}

@media(max-width: 1200px) {
  img {
    height: 600px;
  }
}

@media(max-width: 995px) {
  h2 {
    left: 30%;
  }

  .group {
    width: 60%;
    left: 20%;
  }
}

@media(max-width: 650px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
    left: 20%;
    ;
  }

  #logout {
    width: 17%;
  }

  .group {
    left: 10%;
    width: 70%;
  }
}

@media(max-width: 450px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 25px;
    left: 10%;
    top: 18%;
  }

  #logout {
    width: 20%;
    top: 4%;
  }

  .group {
    top: 26%;
    left: 7%;
    width: 85%;
  }

  button {
    font-size: 20px;
    margin: 4.5%;
    margin-left: 13%;
  }
}
