<div id="dashboard">
    <header>
        <div class="header-1">
          <a href="#">
            <img src="https://neuroethicscanada.files.wordpress.com/2014/03/logo2-no-bg.png?w=300" alt="">
            <span class="header-a">Personalysis</span>
          </a>
        </div>
        <div class="header-2">
          <button (click)="onLogoutClick()" class="head-btn">Logout
          </button>
        </div>
    </header>
  <h2>Hi <span id="name"></span> !</h2>
  <div class="group">
     <h1 class="text-center">Instructions</h1>
     <p>The personality test is designed to find out what you are like as a person. It asks you about the way in which you react in different situations and how you deal with other people. In this test, there are no right or wrong answers. Simply answer in a way that is most like you.</p> 
     <ul class="list">
      <li>Make sure that you answer all the questions.</li>
      <li>This personality test contains 30 questions. There is no time limit. </li>
      <li>This test consists of four sections namely: 
        <!-- <br><strong> Situation MCQs:</strong> Here, You will be given a situational question and you have to choose one answer from the two options mentioned.
        <br><strong> What do yo see First:</strong> A picture will be shown and you have to choose the image which you will see instantly.
        <br><strong>Agree/Disagree: </strong>Here, some facts will be given and you have to choose whether you agree or disagree with that statement. 
        <br><strong>Stress Test: </strong>Answer some of the basic questions to know whether you have stress or not.  -->
      </li>
    </ul>
    <div class="home-3">
      <div class="home-31">
        <div class="home-311">
          <h3>Situation MCQs</h3>
        </div>
      </div>
      <div class="home-31">
        <div class="home-311">
          <h3>What do yo see First</h3>
        </div>
      </div>
      <div class="home-31">
        <div class="home-311">
          <h3>Agree/Disagree</h3>
        </div>
      </div>
      <div class="home-31">
        <div class="home-311">
          <h3>Stress Test</h3>
        </div>
      </div>
    </div>
     <button (click)="algo()">Click to Start Test</button>
 </div>
 <footer>
  <div class="footer-1">
    <p>Copyright © 2019 MAAD. All Rights Reserved.</p>
  </div>
</footer>
</div>