<div id="img">
    <header>
        <div class="header-1">
          <a href="#">
            <img src="https://neuroethicscanada.files.wordpress.com/2014/03/logo2-no-bg.png?w=300" alt="">
            <span class="header-a">Personalysis</span>
          </a>
        </div>
        <div class="header-2">
          <button (click)="onLogoutClick()" class="head-btn">Logout
          </button>
        </div>
    </header>
  <div class="group">
    <h3>Audio Test</h3>
    <p class="subhead">Here, you have to speak the following lines, so that your voice can be recorded and analysed. <br>Please note that you have to speak all the lines in one go.</p>
    <hr>
    <div id="row">
      <span>
        Picture yourself walking through a beautiful forest. The sun is out; there's a perfect breeze. It's just beautiful. Who are you walking with? As you continue in your walk through the forest, you come across an animal. What kind of animal is it? You're walking deeper into the woods, and you come to a clearing. There's house in the middle of the clearing. How big is it? Is it fenced or not?
      </span>
      <button (click)="startMic()" class="btn next" >Start Recording <span class="icon"><i class="fas fa-microphone"></i></span></button>
      <button (click)="stopMic()"  class="btn next" >Save Recording <span class="icon"><i class="fas fa-save"></i></span></button>
      <!-- <button class="btn btn-success" (click)="again()">Finish Quiz</button> -->
    </div>
  </div>
  <footer>
      <div class="footer-1">
        <p>Copyright © 2020 MAAD. All Rights Reserved.</p>
      </div>
  </footer>
</div>
