.header-1 a img {
    width: 12%;
    height: auto;
    margin-top: 5px;
    border-radius: 50%;
  }
  
  header {
    display: flex;
    /* border-top: 10px solid rgb(255, 201, 23);*/
    padding-bottom: 10px;
    /* background: rgba(248, 216, 74); */
    background: wheat;
    border-bottom: 3px solid firebrick;
  }
  
  .header-1 {
    flex: 1;
    margin: 0 0 0 5vw;
  }
  
  .header-a {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    color: black;
    font-weight: 600;
    display: inline;
    vertical-align: bottom;
    margin-left: -20px;
    text-decoration: none;
  }
  
  .header-1 a:hover {
    text-decoration: none;
  }
  
  .header-2 {
    flex: 1;
    margin: 1.5vw 5vw 0 0;
    text-align: right;
    vertical-align: middle;
  }
  
  .head-btn {
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 5px;
    padding: 10px 30px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 2%;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    background: black;
    letter-spacing: 0.1vw;
  }
  
  footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* background: rgba(255, 203, 61); */
    background: wheat;
    border-top: 2px solid firebrick;
  }
  
  .footer-1 {
    margin: 0 10vw;
    padding: 5px 0;
  }
  
  .footer-1 p {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 15px;
  }
  
  #img {
    background: url("http://3.bp.blogspot.com/-j0WoonnJ7dU/Ujg2hRqoqLI/AAAAAAAABTQ/iLSg4c4yErg/s1600/simple-computer-high-quality-wallpaper.png") fixed;
    height: 49vw;
    /* padding-top: 8%; */
  }
  
  .group {
    /* border: 2px solid black; */
    width: 40%;
    margin: 0 auto;
    background-size: cover;
    max-height: 100%;
    margin-top: 4%;
  }

  .table-div{
    overflow: scroll;
    overflow-x:hidden;
    height: 20vw;
    width: 80%;
    margin: 0 auto;
    margin-top: 1vw;
    margin-bottom: 0;
  }

  ::-webkit-scrollbar {
    width:0px;
  }
  
  table {
    background: white;
    border: 5px solid rgba(255, 203, 61);
    border: none;
    margin-bottom: 0;
    padding: 10px;
  }
  
  .table td {
    padding: 0.75rem;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    border: none;
    text-align: center;
    /* color: white; */
    text-transform: capitalize;
  }
  
  .table tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* background: rgba(0, 0, 0, 0.2); */
    margin-bottom: 10px;
  }
  
  h1 {
    color: black;
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'Merriweather', serif;
    padding: 1vw 0 1vw 0;
    background: rgba(255, 203, 61);
  }
  